{% extends 'rollbook/web_Login.html' %}

{% block content %}
    <div id="login">
        <form method="POST">
            <div class="box1">
                <div class="title">
                    <h1>Find Password</h1>
                </div>
                <div class="style2">
                    <input type="text" placeholder="교번 or 학번" name="id" autocomplete="off">
                    <input type="text" placeholder="이름" name="name" autocomplete="off">
                    <input type="text" placeholder="비콘넘버" name="beacon" autocomplete="off">

                </div><br>
                <input type="submit" value="{{pw}}" class="btn okay">
            </div>
        </form>
    </div>
{% endblock %}