{% extends 'rollbook/web_Pro_Lecture_Schedule_Base.html' %}

{% block schedule %}
    <div id="content">
        <div class="article">
            <div class="title">
                <h2><a href="/pro_main/{{pro_id}}/{{lec_id}}">{{lecture.lec_name}}</a></h2>
            </div>
        </div><br>

        <div class="article">
            <form method="post">
                {% csrf_token %}
                <h3>&nbsp&nbsp☞&nbsp 강의 일정</h3>
                <div>
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <button type="submit" class="btn" name='button' value='prev'><</button>
                    <input type="hidden" class="btn" name='hid_month' value='{{month}}'>
                    <input type="hidden" class="btn" name='hid_year' value='{{year}}'>
                    &nbsp&nbsp&nbsp
                    {{year}}학년도 &nbsp{{month}}월
                    &nbsp&nbsp&nbsp
                    <button type="submit" class="btn" name='button' value='next'>></button>

                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <button type="submit" class="btn okay" name='button' value='input'>등록</button>
                    <button onclick="return confirm('삭제 하시겠습니까?')" type="submit" class="btn danger" name='button' value='delete'>삭제</button>
                </div><br>

                <table class="basic_calendar" style="table-layout:fixed">
                    <tr>
                        <th scope="row">SUN</th>
                        <th scope="row">MON</th>
                        <th scope="row">TUE</th>
                        <th scope="row">WED</th>
                        <th scope="row">THU</th>
                        <th scope="row">FRI</th>
                        <th scope="row">SAT</th>
                    </tr>
                    {% for i in calendar %}
                    <tr>
                        <td>{{i.0}}<br>
                            {% if i.0 != '' %}
                                <input type="text" class="btn_1 okay" size="8" maxlength="6" name="{{i.0}}" value="{{i.7}}" readonly="readonly"
                                        style="background-color:transparent;border:0 solid black;text-align:center;">
                            {% endif %}
                        </td>
                        <td>{{i.1}}<br>
                            {% if i.1 != '' %}
                                <input type="text" class="btn_1 okay" size="8" maxlength="6" name="{{i.1}}" value="{{i.8}}" readonly="readonly"
                                        style="background-color:transparent;border:0 solid black;text-align:center;">
                            {% endif %}
                        </td>
                        <td>{{i.2}}<br>
                            {% if i.2 != '' %}
                                <input type="text" class="btn_1 okay" size="8" maxlength="6" name="{{i.2}}" value="{{i.9}}" readonly="readonly"
                                        style="background-color:transparent;border:0 solid black;text-align:center;">
                            {% endif %}
                        </td>
                        <td>{{i.3}}<br>
                            {% if i.3 != '' %}
                                <input type="text" class="btn_1 okay" size="8" maxlength="6" name="{{i.3}}" value="{{i.10}}" readonly="readonly"
                                        style="background-color:transparent;border:0 solid black;text-align:center;">
                            {% endif %}
                        </td>
                        <td>{{i.4}}<br>
                            {% if i.4 != '' %}
                                <input type="text" class="btn_1 okay" size="8" maxlength="6" name="{{i.4}}" value="{{i.11}}" readonly="readonly"
                                        style="background-color:transparent;border:0 solid black;text-align:center;">
                            {% endif %}
                        </td>
                        <td>{{i.5}}<br>
                            {% if i.5 != '' %}
                                <input type="text" class="btn_1 okay" size="8" maxlength="6" name="{{i.5}}" value="{{i.12}}" readonly="readonly"
                                        style="background-color:transparent;border:0 solid black;text-align:center;">
                            {% endif %}
                        </td>
                        <td>{{i.6}}<br>
                            {% if i.6 != '' %}
                                <input type="text" class="btn_1 okay" size="8" maxlength="6" name="{{i.6}}" value="{{i.13}}" readonly="readonly"
                                        style="background-color:transparent;border:0 solid black;text-align:center;">
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </table><br>

                <div style="width:100%; height:200px; overflow:auto">
                    <table class="basic">
                        <tr>
                            <th scope="row">일정날짜</th>
                            <th scope="row">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                강의일정&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</th>
                            <th scope="row">&nbsp게시 날짜</th>
                            <th scope="row">선택</th>
                        </tr>
                    <!--<tr>-->
                        <!--<th scope="row">일정날짜</th>-->
                        <!--<th scope="row">강의일정</th>-->
                        <!--<th scope="row">&nbsp&nbsp&nbsp게시날짜</th>-->
                        <!--<th scope="row">선택</th>-->
                    <!--</tr>-->

                        {% for i in schedules %}
                        <tr>
                            <td>{{i.2}}년 {{i.3}}월 {{i.4}}일</td>
                            <td><a href="/pro_main/{{pro_id}}/{{lec_id}}/schedule_modify/{{i.1}}">{{i.0}}</a></td>
                            <td>{{i.5}}년 {{i.6}}월 {{i.7}}일</td>
                            <td align="center"><input type="checkbox" name="{{i.1}}" value='ok'></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <!--<div align="center">-->
                    <!--&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp-->
                    <!--&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp-->

                <!--</div>-->
                    <!--<table class="basic_2">-->
                    <!--<tr>-->
                        <!--<th>새 일정</th>-->
                        <!--<td>-->
                            <!--<input type="text" placeholder="ex) 2015-07-16" class="input_" size="10" name="new_date"/>-->
                            <!--<input type="text" placeholder="일정을 입력하세요(최대 5자)" class="input_" size="35" name="new_schedule"/>-->

                            <!-- -->
                        <!--</td>-->
                    <!--</tr>-->
                <!--</table>-->
                <br><br>
            </form>
        </div>
    </div>
    <!--<div>-->
        <!--&lt;!&ndash;<table border="1">&ndash;&gt;-->
            <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                <!--&lt;!&ndash;<th>일요일</th>&ndash;&gt;-->
                <!--&lt;!&ndash;<th>월요일</th>&ndash;&gt;-->
                <!--&lt;!&ndash;<th>화요일</th>&ndash;&gt;-->
                <!--&lt;!&ndash;<th>수요일</th>&ndash;&gt;-->
                <!--&lt;!&ndash;<th>목요일</th>&ndash;&gt;-->
                <!--&lt;!&ndash;<th>금요일</th>&ndash;&gt;-->
                <!--&lt;!&ndash;<th>토요일</th>&ndash;&gt;-->
                <!--&lt;!&ndash;{% for i in date %}&ndash;&gt;-->
                <!--&lt;!&ndash;<td>&ndash;&gt;-->

                <!--&lt;!&ndash;</td>&ndash;&gt;-->
                <!--&lt;!&ndash;{% endfor %}&ndash;&gt;-->

        <!--&lt;!&ndash;</table>&ndash;&gt;-->
        <!--{% for i in schedules %}-->
            <!--<h4>{{i}}</h4>-->
            <!--&lt;!&ndash;<h4>{{i.sd_upload}} : {{i.sd_info}}</h4>&ndash;&gt;-->
        <!--{% endfor %}-->
        <!--&lt;!&ndash;<input type="text" id="txtDate" value="" onclick="fnPopUpCalendar(txtDate,txtDate,'yyyy/mm/dd')" class='text_box1'>&ndash;&gt;-->
    <!--</div>-->
{% endblock %}