{% extends 'rollbook/web_Pro_Lecture_Main.html' %}

{% block content %}

    <div id="content">
        {% block data %}
        {% endblock %}
    </div>

    <div id="sidebar">
        <div class="box1">
            <div class="title">
                <br><br><br><h2>자료실</h2>
            </div>
            <ul class="style2">
                <li>
                    <a href="/pro_main/{{pro_id}}/{{lec_id}}/data">자료 목록</a>
                </li>
                <li>
                    <a href="/pro_main/{{pro_id}}/{{lec_id}}/new_data/">자료 추가</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
<!--<div>-->
    <!--{% for i in stuinlecs %}-->
        <!--<h4>{{i.sil_lec}}, {{i.sil_stu}}</h4>-->
    <!--{% endfor %}-->


    <!--{% for i in students %}-->
        <!--<h4>{{i.st_name}}     {{i.st_id}}     {{i.st_subject}}     {{i.st_phoneNum}}     {{i.st_email}}</h4>-->
    <!--{% endfor %}-->
    <!--</div>-->

