{% extends 'rollbook/web_Pro_Lecture_Managestu.html' %}

{% block managestu %}
    <div id="content">
        <div class="article">
            <div class="title">
                <h2><a href="/pro_main/{{pro_id}}/{{lec_id}}">{{lecture.lec_name}}</a></h2>
            </div>
        </div>

        <div class="article">
            <form method="post">
                {% csrf_token %}
                <h3>&nbsp&nbsp☞&nbsp 석차보기
                 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <button onclick="return confirm('저장 하시겠습니까?')" type="submit" class="btn okay" name='button' value='save'>저장</button>
                <button onclick="return confirm('취소 하시겠습니까?')" type="submit" class="btn danger" name='button' value='cancel'>취소</button>
                <button type="submit" class="btn success" name='button' value='score'>성적입력</button>
                </h3><br>
            <!--<button type="submit" class="btn" name='button' value='save'>저장</button>-->
                <div style="width:100%; height:450px; overflow:auto">
                    <table class="basic">
                        <tr>
                            <th scope="row">등수</th>
                            <th scope="row">학번</th>
                            <th scope="row">이름</th>
                            <th scope="row">출석</th>
                            <th scope="row">과제</th>
                            <th scope="row">중간</th>
                            <th scope="row">기말</th>
                            <th scope="row">총점</th>
                            <th scope="row">성적</th>
                        </tr>

                        {% for i in scores %}
                        <tr>
                            <td>{{i.7}}</td>
                            <td>{{i.0.sc_stuinlec.sil_stu.st_id}}</td>
                            <td>{{i.0.sc_stuinlec.sil_stu.st_name}}</td>
                            <td width="12%">{{i.0.sc_attendance}}</td>
                            <td width="12%">{{i.0.sc_submission}}</td>
                            <td width="12%">{{i.0.sc_midterm}}</td>
                            <td width="12%">{{i.0.sc_final}}</td>
                            <td width="12%">{{i.0.sc_total}}</td>
                            <td>
                                <input type="text" size="4" name="{{i.6}}" value="{{i.0.sc_grade}}" autocomplete="off">
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <!--&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp-->

            </form>
            <br><br><br><br><br>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        </div>
    </div>
{% endblock %}
<!--<input type="text" name="stu_name" value="{{i.0.sc_stuinlec.sil_stu.st_name}}"-->